@model Masjed.DomainClass.Gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}

<h2>  جزئیات مربوط به @Session["ActionName"].ToString()   </h2>

<div>
 
    <dl class="dl-horizontal tbl">
        <dt>
            @Html.DisplayNameFor(model => model.ActionMe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionMe.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgMain)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.ImgMain" width="300" height="400" class="img-thumbnail" />
        </dd>

  

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-primary" })
</p>
