@model IEnumerable<Masjed.DomainClass.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}

<h2>گالری تصاویر مربوط به  @Session["ActionName"].ToString() </h2>

<p>
    @Html.ActionLink("جدید", "Create", null, new { @class = "btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" })|
    @Html.ActionLink("بازگشت به فعالیت ها", "Index","ActionMes",null, new { @class = "btn btn-primary" })
</p>
<table class="table tbl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionMe.Title)
        </th>
     
        <th>
        تصویر
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActionMe.Title)
        </td>
    
        <td>
            @if (item.ImgLetter != null)
            {
                <img src="~/Content/Images/@item.ImgLetter" width="120" height="120" class="img-thumbnail" />
            }
            else
            {
                <img src="~/Content/Images/@item.ImgMain" width="120" height="120" class="img-thumbnail" />
            }

        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("جزئیات", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
