@model Masjed.DomainClass.Bime

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}

<h2>حذف بیمه @Model.Title </h2>

<h3>آیاازحذف مطمئن هستید؟؟؟</h3>
<div>
 
    <dl class="dl-horizontal tbl">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceBime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceBime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaDate)
        </dd>

  

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
