@model Masjed.DomainClass.ActionMe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}

<h2>حذف فعالیت @Model.Title </h2>

<h3>آیاازحذف مطمئن هستید؟؟؟</h3>
<div>

    <dl class="dl-horizontal tbl">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Img" width="120" height="120" class="img-thumbnail" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger " /> |
            @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
