@model Masjed.DomainClass.ActionMe

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}
<link href="~/Areas/Farhangi/assets/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

<h2>ویرایش @Model.Title</h2>


@using (Html.BeginForm("Edit", "ActionMes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal tbl">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <label class="sr-only" for="exampleInput3">تاریخ فعالیت</label>
                <div class="input-group">
                    <div class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#exampleInput4" data-mdpersiandatetimepicker="" data-enabletimepicker="false" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1398,&quot;Month&quot;:1,&quot;Day&quot;:22,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" style="cursor: pointer;" data-original-title="" title="" data-mdpersiandatetimepickershowing="false">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    @*<input type="text" class="form-control" id="exampleInput3" placeholder="تاریخ" data-mddatetimepicker="true" data-placement="right" data-mdpersiandatetimepicker="" data-trigger="focus" data-enabletimepicker="false" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1398,&quot;Month&quot;:1,&quot;Day&quot;:22,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-original-title="" title="" data-mdpersiandatetimepickershowing="true">*@
                    @Html.EditorFor(model => model.DateCreate, new { htmlAttributes = new { @class = "form-control", id = "exampleInput4", @readonly = "readonly", placeholder = "تاریخ", title = "", mdpersiandatetimepicker = "", placement = "right", trigger = "focus", enabletimepicker = "false", mdpersiandatetimepickerselecteddatetime = "{&quot;Year&quot;:1398,&quot;Month&quot;:1,&quot;Day&quot;:22,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}", mdpersiandatetimepickershowing = "true" } })
                </div>
                @Html.ValidationMessageFor(model => model.DateCreate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2", style = " margin-top:7px;" })
            <div class="col-md-10">
                <div class="card-box">

                    <img src="~/Content/Images/@Model.Img" width="120" height="120" class="img-thumbnail" />
                    <div class="dropify-loader" style="display: none;"></div>
                    <div class="dropify-errors-container"><ul></ul></div>
                    <input type="file" name="file" class="dropify" data-max-file-size="5M">
                    <div class="dropify-preview" style="display: none;height:120px;"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner">soroush-logo.png</span></p><p class="dropify-infos-message">برای جایگزینی فایل را به اینجا بکشید یا کلیک کنید</p></div></div></div>

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ذخیره" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}

<div>
  @Html.ActionLink("بازگشت", "Index",null, new { @class = "btn btn-primary" })
</div>



@section scripts{

    <script src="~/Areas/Farhangi/assets/plugins/fileuploads/js/dropify.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'فایل را به اینجا بکشید یا کلیک کنید',
                'replace': 'برای جایگزینی فایل را به اینجا بکشید یا کلیک کنید',
                'remove': 'پاک کردن',
                'error': 'با پوزش فراوان، خطایی رخ داده'
            },
            error: {
                'fileSize': 'حجم فایل بیشتر از حد مجاز است (1M).'
            }
        });
    </script>




}
<script src="~/Areas/Farhangi/assets/MdBootstrapPersianDateTimePicker/jalaali.js"></script>
<script src="~/Areas/Farhangi/assets/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>